<h1><%= @band.name %>'s Venues</h1>

<br>

<form action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name='_method' value='patch'>

  <% @venues.each() do |venue| %>
  <input type="checkbox" name="checkbox_values[]" value="<%= venue.id %>"
  <% if @band.venues.include?(venue) %>
  checked
  <% end %>
  >

  <label><%= venue.name() %></label>

  <br>

  <% end %>

    <button type="submit" class="btn btn-success btn-xs">Update Changes</button>
  </form>


<br>
<form action="/bands/<%= @band.id() %>/new" method="post">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success btn-xs">Add a Venue</button>
</form>
<br>
<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-info btn-xs">Rename <%=@band.name() %></button>
</form>
<br>
<form action='/bands/<%= @band.id() %>/delete' method='post'>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit' class="btn btn-warning btn-xs">DELETE <%= @band.name %></button>
</form>

<br>
<a href="/" class="btn btn-success btn-xs">Back to Bands</a>
